
*{
    padding: 0;
    margin: 0;
}



#mockup {
    width: 100rem;
    
}

#evidencyonline{
    width: 100rem;
    padding: 0;
    margin-bottom: 100px;
}

#pesquisa{
    display: flex;
    flex-direction: column;
  
}


.formulario{

    width: 100%;
  
}




.form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
 
  }
  
  .title {
    font-size: 2REM;
    font-weight: 600;
    text-align: center;
    font-weight: 800;
  }
  
  #button-form {

    white-space: wrap; /* Impede a quebra de texto em várias linhas */
    overflow: hidden; /* Oculta qualquer texto que exceda a largura máxima */
    text-overflow: ellipsis; /* Adiciona reticências (...) se o texto for cortado */
  }
  
  
  .group {
    position: relative;
  }
  
  .form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
  }
  
  .form .group input,
  .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #3366cc;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  #button-form {
    /* background-color: #3366cc; */
    /* color: #fff; */
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 2rem;
  }
  
  /* .form #button-form:hover {
    background-color: #27408b;
  }
   */
  
  
  .form p {
    color: black;
  }


  
.line-division{
    margin-top: 0px;
    border-bottom: 1px solid aliceblue;
    width: 100vw;
 
}

.footer-contact{
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

.email-tel{
    display: flex;
    color: aliceblue;
    gap: 20px;
    align-items: flex-end;
    
   

}

.email-tel a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    font-weight: normal;

}

.email-tel h2 {
    font-weight: normal;
}

.menu-footer-icons{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-left: 20px;
   
    
}

.footer-contact {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
